<div class="container mt-5" style="min-height: 70vh;">
  <div class="row justify-content-center">
    <div class="col-md-12">
      <div class="card shadow-lg">
        <div class="card-header bg-success text-white text-center d-flex justify-content-between align-items-center">
            
          <h3 class="mb-0 flex-grow-1 text-center"><i class="fa-solid fa-list-check"></i> Evaluaciones</h3>
        </div>
        <div class="card-body">
            <select name="cli" id="" class="form-select mb-3" [(ngModel)]="pacienteSelecionado" (change)="onPacienteChange()">
                <option value="" disabled selected>Seleccione un paciente</option>
                <option *ngFor="let paciente of pacientes" [value]="paciente.id">
                    {{ paciente.nombre }}
                </option>
            </select>
            <div class="d-flex justify-content-center">
                <fieldset class="col-md-12 mb-4 p-3 border rounded">
                    <legend class="float-none w-auto px-1 fs-6 text-primary"></legend>
                    <div class="row">
                        <div class="col-md-6 mb-3" *ngFor="let evaluacion of evaluaciones">
                            <div class="card h-100">
                                <div class="card-body d-flex flex-column">
                                    <div class="d-flex justify-content-between align-items-center mb-2">
                                        <h5 class="card-title fw-semibold mb-0">Evaluación</h5>
                                        <div>
                                            
                                            @if(evaluacion.iniciado && !evaluacion.completado) {
                                                <button type="button" class="btn btn-outline-secondary  btn-sm" [routerLink]="['/test/iniciar-evaluacion', evaluacion.id, 'pregunta', -1]" title="Reanudar">
                                                    <i class="fa fa-rotate-right"></i>
                                                </button>
                                            } @else if(!evaluacion.iniciado && !evaluacion.completado) {
                                                <button type="button" class="btn btn-outline-primary btn-sm" [routerLink]="['/test/iniciar-evaluacion', evaluacion.id, 'pregunta', -1]" title="Iniciar" >
                                                    <i class="fa fa-play"></i>
                                                </button>
                                            }
                                           <button type="button" class="btn btn-outline-dark btn-sm" [routerLink]="['/test/detalle-evaluacion',pacienteSelecionado,'evaluacion', evaluacion.id]" title="Ver Detalle">
                                                <i class="fa fa-eye"></i>
                                            </button>
                                           
                                        </div>
                                    </div>
                                    <p class="card-text">{{ evaluacion.evaluacion }}</p>
                                    <div class="mb-2">
                                        <span *ngIf="evaluacion.completado" class="badge bg-success">Completada</span>
                                        <span *ngIf="!evaluacion.completado && evaluacion.iniciado" class="badge bg-warning text-dark">Inconclusa</span>
                                        <span *ngIf="!evaluacion.completado && !evaluacion.iniciado" class="badge bg-secondary">No iniciada</span>
                                    </div>
                                    <div class="mb-2">
                                        <div *ngIf="evaluacion.fechaInicioTest">
                                            <small class="text-muted">Inicio: {{ evaluacion.fechaInicioTest | date:'dd/MM/yyyy HH:mm' }}</small>
                                        </div>
                                        <div *ngIf="evaluacion.fechaFinTest">
                                            <small class="text-muted">Fin: {{ evaluacion.fechaFinTest | date:'dd/MM/yyyy HH:mm' }}</small>
                                        </div>
                                    </div>
                                    <div>
                                        <span class="badge bg-info text-dark me-3">
                                            {{ evaluacion.contestadas || 0 }}/{{ evaluacion.cantidadPreguntas || 0 }} contestadas
                                        </span>
                                        @if(evaluacion.tiempoTranscurrido! >0) {

                                            <span  class="badge bg-secondary">
                                                <!-- Tiempo transcurrido -->
                                                {{ (evaluacion.tiempoTranscurrido! / 60) | number:'1.0-0' }}:{{ (evaluacion.tiempoTranscurrido! % 60) | number:'2.0-0' }} min
                                            /
                                                <!-- Tiempo transcurrido -->
                                                {{ (evaluacion.duracion/60) | number:'1.0-0' }}:{{ (evaluacion.duracion % 60) | number:'2.0-0' }} min
                                            </span>
                                        }
                                    </div>
                                    <div class="mb-2 mt-2">
                                        <div class="progress" style="height: 20px;">
                                            <div 
                                                class="progress-bar" 
                                                role="progressbar" 
                                                [style.width.%]="(evaluacion?.contestadas && evaluacion?.cantidadPreguntas) ? (((evaluacion.contestadas! / evaluacion.cantidadPreguntas!) * 100) | number:'1.0-0') : '0'" 
                                                [attr.aria-valuenow]="(evaluacion?.contestadas && evaluacion?.cantidadPreguntas) ? (((evaluacion.contestadas! / evaluacion.cantidadPreguntas!) * 100) | number:'1.0-0') : '0'" 
                                                aria-valuemin="0" 
                                                aria-valuemax="100">
                                                {{ (evaluacion?.contestadas && evaluacion?.cantidadPreguntas) ? ((evaluacion.contestadas! / evaluacion.cantidadPreguntas!) * 100 | number:'1.0-0') : '0' }}%
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </fieldset>
            </div>
        </div>
      </div>
    </div>
  </div>


