<!-- LOGIN -->
<div *ngIf="!mostrarRegistro" class="login-container d-flex justify-content-center align-items-center">
  <div class="login-card shadow-lg p-5 rounded card-login">
    <h1 class="text-center mb-5 titulo-login">Iniciar Sesión</h1>
    <form (ngSubmit)="login()">
      <div class="mb-4">
        <label for="usuario" class="form-label">Usuario</label>
        <input type="text" class="form-control input-rounded" id="usuario" name="usuario"
               placeholder="Ingresa tu usuario" [(ngModel)]="usuario">
      </div>
      <div class="mb-4">
        <label for="password" class="form-label">Contraseña</label>
        <input type="password" class="form-control input-rounded" id="password" name="password"
               placeholder="Ingresa tu contraseña" [(ngModel)]="password">
      </div>
      <div class="form-check mb-4 d-flex justify-content-center">
        <button type="submit" class="btn btn-primary w-50 mx-auto d-block">
          <i class="fas fa-sign-in-alt"></i> Ingresar
        </button>
      </div>
    </form>

    <div class="text-center mt-3">
      <p>¿No tienes cuenta?
        <a href="javascript:void(0)" (click)="mostrarRegistro = true" class="link-registro">
          Regístrate aquí
        </a>
      </p>
    </div>
  </div>
</div>

<!-- REGISTRO -->
<div *ngIf="mostrarRegistro" class="login-container d-flex justify-content-center align-items-center">
  <div class="login-card shadow-lg p-5 rounded card-register">
    <h1 class="text-center mb-5 titulo-register">Crear Perfil</h1>
    <form (ngSubmit)="registrarPerfil()">
      <div class="mb-4">
        <label for="cedula" class="form-label">Cédula</label>
        <input type="text" class="form-control input-rounded" id="cedula" name="cedula"
               placeholder="Ingresa tu cédula" maxlength="10" [(ngModel)]="cedula">
      </div>
      <div class="mb-4">
        <label for="nuevoUsuario" class="form-label">Usuario</label>
        <input type="text" class="form-control input-rounded" id="nuevoUsuario" name="nuevoUsuario"
               placeholder="Crea tu usuario" [(ngModel)]="nuevoUsuario">
      </div>
      <div class="mb-4">
        <label for="nuevaPassword" class="form-label">Contraseña</label>
        <input type="password" class="form-control input-rounded" id="nuevaPassword" name="nuevaPassword"
               placeholder="Crea tu contraseña" [(ngModel)]="nuevaPassword">
      </div>
      <div class="form-check mb-4 d-flex justify-content-center">
        <button type="submit" class="btn btn-success w-50 mx-auto d-block">
          <i class="fas fa-user-plus"></i> Registrar
        </button>
      </div>
    </form>

    <div class="text-center mt-3">
      <p>¿Ya tienes cuenta?
        <a href="javascript:void(0)" (click)="mostrarRegistro = false" class="link-login">
          Volver a Login
        </a>
      </p>
    </div>
  </div>
</div>
