
<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Psyco AI</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavbar">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
      <ul class="navbar-nav nav-items"  style="margin-block: auto;">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">Test Disponibles</a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Autoestima</a></li>
            <li><a class="dropdown-item" href="#">Personalidad</a></li>
          </ul>
        </li>
       
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/paciente/nuevo']">Pacientes</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="#">Configuraciones</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Login</a>
        </li>  
        
      </ul>
    </div>
  </div>
</nav>
