
<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  <div class="container-fluid">
    <a class="navbar-brand " href="#"> <i class="fa-solid fa-house"></i> Psyco AI</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavbar">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
      <ul class="navbar-nav nav-items"  style="margin-block: auto;">
        
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/test/tomar-evaluacion']" routerLinkActive="active"><i class="fa-solid fa-list-check"></i> Evaluaciones</a>
        </li>
       
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/pacientes']" routerLinkActive="active"><i class="fa-solid fa-address-book"></i> Pacientes</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle"  href="#" role="button" data-bs-toggle="dropdown"><i class="fa-solid fa-gear"></i> Configuraciones</a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item"  [routerLink]="['/configuraciones/tipo-test']"><i class="fa-solid fa-wrench"></i> Tipo de Evaluaciones</a></li>
            <li><a class="dropdown-item" [routerLink]="['/configuraciones/evaluaciones']"><i class="fa-solid fa-screwdriver-wrench"></i> Evaluaciones</a></li>
            <li><a class="dropdown-item" [routerLink]="['/configuraciones/evaluadores']"><i class="fa-solid fa-user-doctor"></i> Evaluadores</a></li>

          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"><i class="fa-solid fa-info-circle"></i> Acerca de</a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" [routerLink]="['/mapa-sitio']"><i class="fa-solid fa-sitemap"></i> Mapa del Sitio</a></li>
            <li><a class="dropdown-item" [routerLink]="['/conocenos']"><i class="fa-solid fa-info-circle"></i> Conócenos</a></li>

          </ul>
         
        </li>
        </ul>
        <ul class="navbar-nav ms-auto">
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/iniciar-sesion']"><i class="fa-solid fa-right-to-bracket"></i> Login</a>
          </li>
        </ul>

      
    </div>
  </div>
</nav>

<header class="text-center">
<div class="container">
<div class="row align-items-center">
<div class="col-md-7 text-md-start text-center">
<h1>Consultorio Privado "DannyZamora"</h1>
<p>Plataforma web para evaluación psicométrica automatizada</p>
</div>
@if (validarConocenos())
{
  <div class="col-md-5 d-none d-md-block">
  <img src="https://images.pexels.com/photos/8460371/pexels-photo-8460371.jpeg" alt="Profesionales médicos" class="img-fluid">
  </div>
}
</div>
</div>
</header>
