<div class="container mt-5">
  <div class="card shadow-lg">
    <div class="card-header bg-success text-white text-center d-flex justify-content-between align-items-center">
      <h3 class="mb-0">Configuraciones de Medicos Evaluadores</h3>
      <a class="btn btn-light"
        [routerLink]="['/configuraciones/evaluadores/nuevo']"
      >
        <i class="fa-solid fa-user-doctor"></i> Nuevo Medico Evaluador
      </a>
    </div>
    <div class="card-body">

      <div class="table-responsive">
        <table class="table table-hover table-striped">
          <thead class="table-dark">
            <tr>
                <th scope="col">Nombre</th>
                <th scope="col">Cargo</th>
                <th scope="col">Especialidad</th>
                <th scope="col">Email</th>
                <th scope="col">Ciudad</th>
                <th scope="col">Acciones</th>
            </tr>
          </thead>
          <tbody>
            @for (evaluador of evaluadores; track $index)   {
              <tr >

                <td>{{ evaluador.nombre }}</td>
                <td>{{ evaluador.cargo }}</td>
                <td>{{ evaluador.especialidad }}</td>
                <td>{{ evaluador.email }}</td>
                <td>{{ evaluador.ciudad!.nombre }}</td>
                <td>
                  <button type="button" class="btn btn-warning btn-sm">
                    <i class="fa fa-pen-to-square"></i> 
                  </button>
                  <button type="button" class="btn btn-danger btn-sm" (click)="eliminarEvaluador(evaluador)">
                    <i class="fa fa-trash"></i> 
                  </button>
                </td>
              </tr>
          }
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

